<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Caraka"
        tools:targetApi="31">
        <activity
            android:name=".ui.bottom_menu.profile.LanggananActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.ScannerResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kamus.KamusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detailhistory.DetailHistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_history"
            android:theme="@style/Theme.Caraka" />
        <activity
            android:name=".ui.jeniskamus.JenisKamusActivity"
            android:exported="false"
            android:theme="@style/Theme.Caraka" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signin.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onBoarding.feature.onboarding.OnBoardingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>